/* estils intermodular 02 web */

html{
    background-color:#DDD;
    font-family:arial;
    box-sizing: border-box;
}

#cap{
    width:80%;
    margin: 10px auto;
    padding:20px;
    border:solid 1px black;
    text-align:center;
    background-color:rgb(188, 251, 255);
}

#cap h1{
    width:60%;
    margin: 10px auto;
    padding:20px;
    border:solid 1px red;
    color:red;
    font-weight: bold;
    text-align:center;
    background-color:white;
}
#principal{
    width:80%;
    margin: 10px auto;
    padding:20px;
    border:solid 1px black;
    text-align:center;
    background-color:rgb(188, 251, 255);
}

#principal p.paragraf{
    width:60%;
    margin: 10px auto;
    padding:20px;
    border:solid 1px red;
    color:red;
    font-weight: bold;
    text-align:center;
    background-color:white;
}

.imatge{
    width:400px;
    margin:20px;
}